<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Bienvenido, @context.User.Identity?.Name</a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Salir sesion</button>
        </form>
    </Authorized>
    <NotAuthorized>
        
        <a href="Identity/Account/Login">Iniciar Sesion</a>
    </NotAuthorized>
</AuthorizeView>
